bower_components/
node_modules/
.pulp-cache/
output/
generated-docs/
.psc-package/
.psc*
/.purs*
.psa*
dist/
todo
dce-output

npm-debug.log

.sass-cache/
_site/

.jekyll-metadata

scratchpad.*
scratchpadloader.*
vendor
.cache
.vscode/
.bundle

.spago

.parcel-cache