* {
        background: #333 !important;
        color: white !important;
}

html,
body {
        padding: 0;
        margin: 0;
        width: 100%;
        height: 100%;
}

#main {
        height: 100%;
        padding: 10px;
}

#history {
        height: 80%;
}

#history div {
        margin: 5px;
}

#send {
        height: 20%;
}