@import url('https://fonts.googleapis.com/css?family=Open+Sans');
@import url('https://fonts.googleapis.com/css?family=Catamaran:400,700');

html {
    height: 100%;
    box-sizing: border-box;
    background-color: #191b1b;
    color: white;
}

* {
    background: inherit
}

body {
    margin: 0;
    min-height: 100%;
    font-family: "Open sans", "sans serif";
    font-size: 18px;
    line-height: 1.51857143;
    display: flex;
}

h1, h2, h3, h4 {
    -webkit-margin-before: 0.0em;
    -webkit-margin-after: 0.0em;
    font-weight: bold;
    color:#d72922;
    font-family: "Catamaran";
}

a {
        color: #191b1b;
        background-color: #d72922;
        padding: 3px 5px;
        font-family: "Catamaran";
        text-decoration: none;
        font-weight: bold;
        display: inline-block;
        border-radius: 2px;
        font-size: 1.1em;

}

a:hover {
    color:  #d72922;
        background-color: #191b1b;
}

a:visited {
    text-decoration: none
}

h1 {
    font-size: 2em;
}

h2 {
    font-size: 1.6em;
}

h3 {
    font-size: 1.1em;
}

.menu {
        padding: 40px;
        padding-right: 60px;
        display: flex;
        position: sticky;
        top: 10px;
        flex-flow: column;
        /* border-right: 1px dotted #d72922; */
}

ul {
    padding: 0;
}

ul li {
        list-style-type: none;
        padding-bottom: 14px;
}

.project-name {
    color:  #d72922;
    background-color: #191b1b;
    font-size: 1.3em;
    padding: 0;
}

.content {
    padding: 45px;
}