name: CI

on: [push, pull_request]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-node@v4
        with:
          node-version: '22'
          cache: 'npm'

      - uses: purescript-contrib/setup-purescript@main

      - name: Cache PureScript dependencies
        uses: actions/cache@v4
        # This cache uses the .dhall files to know when it should reinstall
        # and rebuild packages. It caches both the installed packages from
        # the `.spago` directory and compilation artifacts from the `output`
        # directory. When restored the compiler will rebuild any files that
        # have changed. If you do not want to cache compiled output, remove
        # the `output` path.
        with:
          key: ${{ runner.os }}-spago-${{ hashFiles('**/*.dhall') }}
          path: |
            .spago
            output
      - run: npm install
      - run: spago build
      - run: spago test --no-install
      - run: spago -x examples.dhall build
      - run: npm run build-examples
      - name: keyed bench
        working-directory: ./benchmarks/js-framework-benchmark/keyed
        run: npm run build
      - name: non-keyed bench
        working-directory: ./benchmarks/js-framework-benchmark/non-keyed
        run: npm run build
